

@import url(/static/css/login.css);

#tituloVendedor , #tituloCliente {
    text-align: center;
    margin-top: 1% ;

}

#tipoCadastro {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 5% auto;
    margin-bottom: 1%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#tipoCadastro label{
    font-size: 18px;
    margin-bottom: 10px;
}

#tipoCadastro select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 200px;
}

#tipoCadastro button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

#tipoCadastro button:hover{
    background-color: #0c440e;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

#msgErroCliente , #msgErroVendedor{
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

#tituloVendedor , #tituloCliente , #vendedorCadastro , #clienteCadastro{
    display: none;
}