

@import url('/static/css/home.css');


.sair {
    position: absolute;
    top: 5;
    right: 0;
    margin-right: 7%;
}

main{
    display: flex;
    position: relative;
    height: 100%;
    overflow: auto;
}

.perfil {
    position: fixed;
    top: 11%;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #007bff;
    padding: 10px;
    text-align: center;
}

.perfil img:hover{
    cursor: pointer;
}
h1.nome{
    color: white;
}

.menu_perfil{
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.menu_perfil:hover{
    background-color: rebeccapurple;
    border-radius: 10px;
}

#errosenha{
    background: yellow;
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}



.apagar_conta{
    position: absolute;
    bottom: 20%;
    left: 0;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #810000;
    cursor: pointer;
}

.apagar_conta:hover{
    color: white;
    background-color: #810000;
    border-radius: 10px;
}

#confirmarApagarConta{
    background-color: red;

}

#confirmarApagarConta:hover{
    background-color: #810000;
}

.apagarAlerta{
    color: red;
    font-size: 20px;
    font-weight: bold;
}


.modal-buttons{
    display: flex;
    justify-content: space-between;
}

.titulo{
    text-align: center;
    margin: 5% 25%;
}

#formulario_senha {
    flex: 1 0 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    width: 400px;
    position: relative;
    display: none;
}

#formulario_produtos{
    flex: 1 0 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    width: 400px;
    position: relative;
    display: none;
    

}

label{
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

input[type="password"],
input[type="file"],
input[type="text"],
input[type="number"] {

display: block;
width: 100%;
padding: 10px;
margin-bottom: 10px;
box-sizing: border-box;
border: 1px solid black;
border-radius: 3px;

}

.modal_apagarConta{
    
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

form input[type="submit"] , #cancelarApagarConta{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover , #cancelarApagarConta:hover{
background-color: #0059b3;


}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.produtos{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 70px;
}

.produto{
    width: 25%;
    padding-left: 100px;
    box-sizing: border-box;
}

.produto img{
    width: 100%;
}

.produto h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.produto p{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;

}

@media screen and(max-widht: 768px) {
    .produto{
        width: 50%;
    }
}

